body{
  text-align: center;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

.scoreContainer {
  display: flex;
}

.score {
  margin: auto;
  justify-content: center;
}

.bestScore {
  font-style: italic;
}

.grid_container {
  margin: 20px 0;
}

#grid {
  margin: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  width: 200px;
  height: 200px;
  background-color: grey;
  padding: 10px;
}

.cardContainer {
  perspective: 700px;
  position: relative;
  width: 200px;
  height: 200px;
  backface-visibility: hidden;
}

.front {
  background: blue;
  width: 180px;
  height: 180px;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 20px;
}

.back {
  display: flex;
  background: green;
  width: 180px;
  height: 180px;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  border-radius: 20px;
}

.text {
  flex: auto;
  margin: auto;
}

.bigText {
  font-size: 50px;
}
