body{
  text-align: center;
  /* background-image: url(img/background.png); */
  background-color: black;
  font-family: 'Orbitron', sans-serif;
}

.title {
  font-size: 50px;
  font-weight: bold;
  background: white;
  border: 2px solid lime;
  border-radius: 10px;
  padding: 10px;

}

.scoreContainer {
  display: flex;
}

.score {
  margin: auto;
  justify-content: center;
  background: white;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid lime;
}

.bestScore {
  font-style: italic;
}

time {
  color:white;
  margin: auto;
  margin-bottom: 10px;
  justify-content: center;
  font-size: 20px;
}

.startContainer {
  display: flex;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#pName {
  font-size: 15px;
  text-align: center;
}

.ratings {
  margin-bottom: 50px;
}

.fa-star {
  color: lime;
}

#instructions {
  color: lime;
}

.button {
    background-color: lime;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    border-radius: 10px;
}

.grid_container {
  margin: 20px 0;
  border-radius: 20px;
}

#grid {
  margin: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  width: 200px;
  height: 200px;
  background-color: black;
  padding: 10px;
}

.cardContainer {
  perspective: 700px;
  position: relative;
  width: 200px;
  height: 200px;
  backface-visibility: hidden;
}

.front {
  background: blue;
  width: 180px;
  height: 180px;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 20px;
  border: 2px solid lime;
}

.back {
  display: flex;
  background: green;
  width: 180px;
  height: 180px;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  border-radius: 20px;
  border: 2px solid lime;
}

.text {
  flex: auto;
  margin: auto;
}

.bigText {
  font-size: 50px;
}

.removeStar {
  display:none;
}

.pop-up {
  text-align: center;
  margin: auto;
  background: white;
  width: 400px;
  height: 400px;
  border: 2px solid lime;
  border-radius: 20px;
}

.leader-board {
  display: flex;
  margin: 0;
  padding; 0;
}

.player-name {
  width: 70%;
  border-right: 1px solid black;
}

.heading {
  text-decoration: underline;
  font-weight: bold;
}

.leader-score {
  width: 30%;
}

.player-name-time{
  width: 70%;
  border-right: 1px solid black;
}

.leader-time {
  width: 30%;
}

footer {
  color: lime;
}




@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* Animations Originally Provided by Animation.css @ https://daneden.github.io/animate.css/ */
@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);

  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);

  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
  animation-duration: 4s;
}

@keyframes wobble {
  from {
    transform: translate3d(0, 0, 0);

  }

  15% {
    transform: translate3d(-25%, 0, 0);
    transform: rotateY(180deg);
  }

  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: rotateY(180deg);
  }

  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);

  }

  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    /* transform: rotateY(180deg); */
  }

  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);

  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.wobble {
  animation-name: wobble;
  animation-duration: 4s;

}

@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  animation-duration: 4s;
}


/* Smart phone experience */
@media screen  and (max-width: 500px){
  time {
    margin-bottom: 5px;
  }

  .ratings {
    margin-bottom: 20px;
  }

  #grid {
    width: 100%;
  }

  td {
    width: 60px;
    height: 60px;
  }

  .cardContainer,
  .back,
  .front {
    width: 60px;
    height: 60px;
    margin: 0;
  }

  .bigText {
    font-size: 30px;
  }

}

/* Tablet Experience */
@media screen and (min-width: 501px) and (max-width: 1000px){
  #grid {
    width: 100%;
  }

  td {
    width: 150px;
    height: 150px;
  }

  .cardContainer,
  .back,
  .front {
    width: 150px;
    height: 150px;
    margin: 0;
  }

}
