body{
  text-align: center;
  /* background-image: url(img/background.png); */
  background-color: black;
  font-family: 'Orbitron', sans-serif;
}

.title {
  font-size: 50px;
  font-weight: bold;
  background: white;
  border: 2px solid lime;
  border-radius: 10px;
  padding: 10px;
}

.scoreContainer {
  display: flex;
}

.score {
  margin: auto;
  justify-content: center;
  background: white;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid lime;
}

.bestScore {
  font-style: italic;
}

.button {
    background-color: lime;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    border-radius: 10px;
}

.grid_container {
  margin: 20px 0;
  border-radius: 20px;
}

#grid {
  margin: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  width: 200px;
  height: 200px;
  background-color: black;
  padding: 10px;
}

.cardContainer {
  perspective: 700px;
  position: relative;
  width: 200px;
  height: 200px;
  backface-visibility: hidden;
}

.front {
  background: blue;
  width: 180px;
  height: 180px;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 20px;
  border: 2px solid lime;
}

.back {
  display: flex;
  background: green;
  width: 180px;
  height: 180px;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  border-radius: 20px;
  border: 2px solid lime;
}

.text {
  flex: auto;
  margin: auto;
}

.bigText {
  font-size: 50px;
}

footer {
  color: lime;
}
